@using Assignment18WeatherPartial.Models
@model CityWeather

@functions {
    //method
    string GetColor(int temperature)
    {
        string color = "blue-back";
        if (temperature >= 44 && temperature <= 74)
        {
            color = "green-back";
        }
        else if (temperature > 74)
        {
            color = "orange-back";
        }

        return color;
    }
}

<div class="box @GetColor(Model.TemperatureFahrenheit)">
    <div class="w-100 flex-borderless">
        <div class="w-50">
            <h2>@Model.CityName</h2>
            <h3 class="text-dark-grey">@Model.DateAndTime.ToShortTimeString()</h3><br />
            <br />
            @if (Context.Request.Path == "/")
            {
                <a href=@($"/weather/{Model.CityUniqueCode}")>Details</a>
            }
        </div>
        <div class="w-50 border-left">
            <h2>@Model.TemperatureFahrenheit<sup class="text-dark-grey">&#8457;</sup></h2>
        </div>
    </div>
    @if (Context.Request.Path != "/")
    {
        <a href=@($"/")>Back</a>
    }
</div>