@using Assignment18WeatherPartial.Models
@model CityWeather

@{
    ViewBag.Title = "Details";
}
<div class="w-50">
    @{
        await Html.RenderPartialAsync("_CityWeatherPartialView", Model);
    }
</div>
